# Root workspace
NODE_ENV=development

# Shared ports
TIP_WEB_PORT=3000
TIP_API_PORT=3001
TIP_POSTGRES_PORT=5432
TIP_REDIS_PORT=6379
TIP_MINIO_PORT=9000
TIP_MINIO_CONSOLE_PORT=9001

# Service names
TIP_POSTGRES_DB=tip
TIP_POSTGRES_USER=tip
TIP_POSTGRES_PASSWORD=tip
TIP_REDIS_HOST=tip-redis
TIP_POSTGRES_HOST=tip-postgres
TIP_MINIO_HOST=tip-minio
TIP_MINIO_ACCESS_KEY=tipminio
TIP_MINIO_SECRET_KEY=tipminiosecret
